@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    color:#4B4B4B;
    font-size: 15px; /*Este valor equivale a 1rem*/
}

.acordeon > p{
  font-family: 'Playfair Display', sans-serif;
  color: #333333;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
  font-size: 1rem;
  align-self: flex-start;
}

.acordeon{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.acordeon-title {
  display: flex;
  align-items: stretch;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  background: #F7F6F3;
  border: 1px solid white;
  color: white;
  color:#333333;
  transition: color 0.3s ease;
}

.acordeon-condicion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-size: 0.85rem;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  transition: font-size 0.3s ease;
}

.acordeon-title:hover .acordeon-condicion{
  font-size: 0.95rem;
}

.more-less {
  font-family: "Material Symbols Outlined";
  transition: transform 0.3s ease;
}

.acordeon-title.open .more-less {
  transform: rotate(180deg);
}

.acordeon-title.open{
    background-color: #C9A646;
    color: white;
}

.acordeon-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px; 
  background: #F7F6F3;
  margin-bottom: 2px;
  font-size: 0.8rem;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.acordeon-content.open {
  max-height: 200px; 
  padding: 10px 10px; 
}

@media(min-width:1024px){
  .acordeon{
    width: 80%;
  }

}