@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    color:#4B4B4B;
    font-size: 15px; 
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem 0;
}

#linea-vertical {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #ACD4CD;
}

.elemento-derecha, .elemento-izquierda {
  position: relative;
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  text-align: left;
  margin-bottom: 2rem;
}

.elemento-derecha {
  left: 60%;
}

.punto {
  position: absolute;
  top: 1rem;
  width: 15px;
  height: 15px;
  background-color: #2F4A5C;
  border-radius: 50%;
  border: 3px solid white;
  left: auto;
  right: -8px;
}

.caja-de-texto {
  background-color: #f7f6f3;
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
  max-width: 90%;
}

.titulo-elemento{
  color: #2F4A5C;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .elemento-derecha, .elemento-izquierda {
    width: 50%;
  }

  .punto {
    position: absolute;
    top: 1rem;
    left: auto;
    right: -8px;
  }
}