@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    color:#4B4B4B;
    font-size: 15px; 
}

.timeline {
  position: relative;
  width: 80vw;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
}

#linea-vertical {
  position: absolute;
  left: 15px;
  transform: none;
  width: 2px;
  height: 100%;
  background-color: #ACD4CD;
  top: 0;
  bottom: 0;
}

.elemento {
  position: relative;
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  text-align: left;
}

.punto {
  position: absolute;
  top: 1rem;
  width: 15px;
  height: 15px;
  background-color: #2F4A5C;
  border-radius: 50%;
  border: 3px solid white;
  z-index: 2;
  left: 8px;
  transform: none;
}

.caja-de-texto {
  background-color: #f7f6f3;
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
  max-width: 90%;
}

.titulo-elemento {
  color: #2F4A5C;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
}

.texto-elemento {
  font-family: sans-serif;
  color: #4B4B4B;
}

/* Animaciones */
.elemento .punto,
.elemento .caja-de-texto {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.elemento.visible .punto {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.elemento.visible .caja-de-texto {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s; 
}

@media (min-width: 1024px) {

  .timeline {width: 100%;}
  .elemento {
    width: 50%;
    position: relative;
    margin-bottom: -0.5rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  .elemento.elemento-izquierda {
    left: 0;
    padding-right: 2.5rem;
  }

  .elemento.elemento-izquierda .punto {
    right: -8px;    
    left: auto;
    transform: none;
  }

  .elemento.elemento-derecha {
    left: 50%;
    padding-left: 2.5rem;
  }

  .elemento.elemento-derecha .punto {
    left: -8px;     
    right: auto;
    transform: none;
  }

  .elemento-derecha .caja-de-texto {
    margin-right: 0;
    margin-left: auto; 
  }

  .caja-de-texto {
    max-width: 85%;
    display: inline-block;
  }

  #linea-vertical {left: 50%;}
}